/* LINK DatePicker styling */

.date-container .MuiOutlinedInput-notchedOutline {
  border: none;
}

.MuiOutlinedInput-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: gray;

  cursor: pointer;
}

.todo-row .MuiOutlinedInput-notchedOutline {
  border: none;
}
