.status-container .MuiButtonGroup-root {
  opacity: 1;
  top: -100;
  transition: all 1000ms ease-in;
}
.status-container .fade-enter {
  opacity: 1;
  transform: translateX(-100) scale(2);
  transition: all 1000ms ease-in;
}
