.status-container {
  opacity: 0;
  top: -100;
  transition: all 1000ms ease-in;
  animation: disappear;
}

.status-container.show {
  opacity: 1;
  top: -100;
  transition: all 1000ms ease-in;
  animation:appear;
}


.status-container {
  position: absolute;
  right: 66.9%;
}
@keyframes disappear{
  0% {opacity: 1};
  50% {opacity: 0.5};
  100% {opacity: 0};
}
@keyframes appear{
  0% {opacity: 1};
  50% {opacity: 0.5};
  100% {opacity: 0};
}

@media only screen and (max-width: 1024px) {
  .status-container {
    right: 64.5%;
  } 
}