.board {
  margin-top: 8vh;
  width: 80vw;
  height: 85vh;

  text-align: center;
  display: flex;

  background-color: none;
}

@media only screen and (max-width: 780px) {
  .board {
    width: 100vw;
  }
}
